.listItem {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 280px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);

  >button {
    border: none;
    background-color: transparent;
    padding: 0;
    height: 12px;
    width: 12px;
    cursor: pointer;

    >svg {
      display: block;
      object-fit: contain;
      color: #9b9faa;
    }
  }

  @media screen and (max-width: 1279px) {
    width: 565px;

    &>button {
      height: 12px;
      width: 12px;
    }
  }
}

.deleteButton {
  margin-left: 30px;
}

.info {
  display: flex;

  >div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    font-size: 14px;
    font-family: Verdana;
    color: #212121;
    line-height: normal;
    line-height: 17px;
    text-align: end;
    letter-spacing: 0.04em;

    :first-child {
      width: 130px;
      text-align: start;
    }

    width: 49px;

    :last-child {
      width: 59px;
    }

    :not(:last-child) {
      margin-right: 8px;
    }
  }

  .productList {
    text-align: left;
    width: 240px;
  }

  .quantityList {
    margin-left: 50px;
    width: 107px;
  }

  .calorieList {
    margin-left: 32px;
    width: 106px;
  }

  @media screen and (max-width: 1279px) {
    .productList {
      width: 270px;
    }
  }

  @media (max-width: 703px) {
    .productList {
      width: 130px;
    }

    .quantityList {
      margin-left: 8px;
      width: 49px;
    }

    .quantityListSpan {
      color: #212121;
      font-family: Verdana;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.4px;
    }

    .calorieList {
      margin-left: 8px;
      width: 58px;
    }

    .calorieListSpan {
      color: #212121;
      font-family: Verdana;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.4px;
    }
  }

  @media screen and (max-width: 1279px) {
    width: 520px;

    /* justify-content: space-between; */
    >div {
      padding-bottom: 15px;
      margin-right: 0;
      width: 106px;
      margin: 0;
      text-align: end;

      :first-child {
        width: 240px;
        text-align: start;
      }

      :last-child {
        width: 106px;
      }
    }
  }
}

@media (max-width: 703px) {
  .deleteButton {
    margin-left: 10px;
  }

  .listItem {
    width: 320px;
  }

  .info {
    width: 270px;
  }
}
