.text {
  padding: 50px 0;
  font-size: 12px;
  color: #9b9faa;
}

.boxProducts {
  position: relative;
  margin-top: 60px;

  @media (max-width: 1279px) {
    max-height: 270px;

    :before {
      pointer-events: none;
      width: 731px;
      position: absolute;
      bottom: -30px;
      height: 50px;
      left: 0;
      right: 0;
      background: linear-gradient(0, #fff, transparent);
      content: '';
    }
  }

  @media (max-width: 703px) {
    max-height: 270px;

    :before {
      bottom: 10px;
      height: 50px;
    }
  }
}

.productsList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 32px;
  max-height: 210px;
  width: 610px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  align-items: flex-start;
  overflow-y: scroll;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(38, 64, 97);
  }

  ::-webkit-scrollbar-track {
    background: #f0f1f3;
  }
}

@media screen and (max-width: 1279px) {
  .productsList {
    width: 590px;
  }
}

@media (max-width: 703px) {
  .productsList {
    width: 320px;
  }

  .boxProducts {
    width: 320px;
    margin-top: 32px;
  }
}

.boxProducts {
  height: 271px;
}