.backgroundContainer {
  background-image: url('../../images/diary-leaves.png');
  background-size: 450px, contain, 280px, contain;
  background-position: 110% 40%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .backgroundContainer {
    background-image: url('../../images/tablet-diary-leaves.png');
    background-size: 400px;
    background-position: 90% 85%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .formTitle {
    padding-top: 250px;
  }
}

@media (max-width: 768px) {
  .backgroundContainer {
    background-image: none;
  }
}
