.container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color: #ffffff;
  background-image: url('../../images/diary-leaves.png');
  background-size: 605px, contain, 350px, contain;
  background-position: 115% -10%, 80%, 100% 80%, 100% 90%;
  background-repeat: no-repeat;
}

/* Calculator Section styling */
.calculatorSection {
  width: 60%;
  padding: 40px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Summary Section styling */
.summarySection {
  width: 35%;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
}

/* Tablet view adjustments */
@media (max-width: 1297px) {
  .container {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align horizontally */
    justify-content: center; /* Center align vertically */
    min-height: 100vh; /* Ensure it takes the full height of the screen */
    gap: 20px; /* Add space between sections */
    padding: 20px; /* Add padding for inner spacing */
    box-sizing: border-box;
    background-image: url('../../images/tablet-diary-leaves.png');
    background-size: 675px, contain, 420px, contain;
    background-position: 100% 80%, 80%, 100% 80%, 100% 90%;
    background-repeat: no-repeat;
  }

  .calculatorSection,
  .summarySection {
    width: 90%; /* Restrict width for better readability */
    max-width: 600px; /* Prevent sections from becoming too wide */
    padding: 20px; /* Maintain consistent padding */
  }

  .summarySection {
    margin-top: 0; /* Remove unnecessary margin */
  }
}

/* Mobile view adjustments */
@media (max-width: 703px) {
  .container {
    background-image: none;
  }
  .calculatorSection,
  .summarySection {
    width: 100%; /* Full width on mobile */
    padding: 10px; /* Reduced padding */
  }

  .foodSection {
    position: static; /* Default position */
    width: 100%; /* Full width on mobile */
  }
}
