

body {
    font-family: Arial, sans-serif;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    height: 40px;
    position: fixed; 
    top: 50px; 
    right: 20px; 
    z-index: 2; 

}

.bar {
    width: 30px;
    height: 3px;
    background-color: #212121;
    margin: 4px;
    transition: all 0.3s;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); 
    background-color: #264061; 
    z-index: 1; 
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    opacity: 0;
    
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    text-decoration: none;

}

@media (max-width: 768px) {

    .hamburger {
        display: flex; 
    }
    .menu.active {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.5s ease;
        z-index: 0;
   
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 769px) {
  .menu{
    display: none;
  }

}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
