body {
    overflow: hidden;
}
/* .backgroundContainer {
    background-image: url('../../images/Layer-9.png'), 
                      url('../../images/Layer-4\ 1.png'), 
                      url('../../images/Strawberry-Big-PNG.png'),
                      url('../../images/Vector\ 3.png');
    background-size: 480px, contain, 250px, contain;
    background-position: 100% -8%, 
                         80%,
                         100% 80%,
                         100% 90%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
} */

.formTitle h4{
    color: #FC842D;
    font-style: bold;
    font-size: .875rem;
    margin-left: 20px;
}
.inputBox {
    border-bottom: 2px solid #E0E0E0;
    width: 240px;
    margin: 30px 0;
    position: relative;
    margin-left: 20px;
}
.inputBox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #9B9FAA;
    font-weight: bold;
    transition: all 0.3s ease;
}
.inputBox input:focus + label,
.inputBox input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #FC842D;
}
.inputBox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    color: #212121;
}
.buttonContainer {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    margin-left: 20px;
}
.button {
    border: 2px solid #FC842D;
    width: 181px;
    height: 44px;
    border-radius: 30px;
    color: #FC842D;
    font-weight: bold;
    font-size: 0.875rem;
}
.button:hover {
    color: #FFFFFF;
    background-color: #FC842D;
}

/* Media queies for tablet responsiveness */
@media screen and (max-width: 768px) {
    /* .backgroundContainer {
        background-image:  
                            url('../../images/Layer-4\ 1.png'), 
                            url('../../images/Strawberry-Big-PNG.png'),
                            url('../../images/Layer-9.png'),
                            url('../../images/Vector\ 3.png')
                            ;
        background-size: 600px, 300px, 400px, 400px;
        background-position:  90% -40%, 
                              100% 50%,
                              100% 90%,
                              100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    } */
    .formTitle {
        padding-top: 250px;
    }
}