.summaryContainer {
  font-family: verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column; /* Default: vertical stack */
  background-color: transparent;
  padding: 20px;
}

/* Summary Section Styling */
.summarySection {
  margin-bottom: 20px; /* Space between sections */
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

ul li {
  margin-bottom: 8px;
}

p {
  color: #9b9faa;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Food Not Recommended Section Styling */
.foodsNotRecommendedSection li {
  list-style-type: none;
  margin-bottom: 8px;
  color: #9b9faa;
}

/* Tablet View */
@media (max-width: 1297px) and (min-width: 704px) {
  .summaryContainer {
    flex-direction: row; /* Align sections horizontally */
    align-items: flex-start; /* Align sections at the top */
    width: 100%;
    gap: 50px; /* Space between sections */
  }

  h2 {
    font-size: 0.875rem; /* Slightly larger font for readability */
    margin-bottom: 15px;
  }

  li,
  p {
    font-size: 0.9rem;
  }
}

/* Mobile View */
@media (max-width: 703px) {
  .summaryContainer {
    flex-direction: column; /* Stack sections vertically */
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .summarySection,
  .foodsNotRecommendedSection {
    width: 100%; /* Full width on mobile */
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  li {
    font-size: 0.85rem;
  }

  .foodsSectionHeader {
    padding-top: 5px;
  }
}
