.summaryContainer {
  font-family: verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  /* Default: stack sections vertically */
  background-color: transparent;
  padding: 20px;
}

/* Summary Section styling */
.summarySection {
  margin-bottom: 20px;
  /* Space between sections */
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

ul li {
  margin-bottom: 8px;
}

p {
  color: #9b9faa;
}

/* Food Not Recommended Section styling */
.foodsNotRecommendedSection li {
  list-style-type: none;
  margin-bottom: 8px;
  color: #9b9faa;
}

/* Tablet view */
@media (max-width: 1297px) {
  .summaryContainer {
    display: flex;
    flex-direction: row;
    /* Align sections horizontally */
    /* align-items: center; */
    /* Align sections to the top */
    width: 100%;
    gap: 55px;
    /* Add a consistent space between sections */
  }

  .summarySection {
    margin-bottom: 0;
    /* Remove bottom margin for horizontal alignment */
  }

  .foodsNotRecommendedSection {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

  h2,
  h3 {
    font-size: 0.9rem;
    /* Slightly larger font for readability */
    margin-bottom: 20px;
    margin-top: 0;
  }
  

  li,
  p {
    font-size: 0.85rem;
  }
}

/* Mobile view */
@media (max-width: 703px) {
  .summaryContainer {
    flex-direction: column;
    /* Stack sections vertically */
    font-size: 0.85rem;
    width: 100%;
    /* padding-left: 0; */
    /* align-items: center; */
    justify-content: center;
    gap: 0;
  }

  .summarySection {
    margin-top: 0;
    /* Reduced margin on mobile */
    width: 100%;
    /* Full width on mobile */
  }

  .foodsNotRecommendedSection {
    width: 100%;
    /* Full width on mobile */
    padding-top: 0;
  }

  h2 {
    font-size: 0.85rem;
    margin-bottom: 10px;
  }

  li {
    font-size: 0.85rem;
  }
}
