.container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  z-index: 10;
}
.header {
  transition: transform 0.5s ease; 
  transform: translateY(10px);
  /* margin-bottom: 100px; */
}
.nav {
  display: flex;
  gap: 24px;
  margin-top: 55px;
}
a.inactive {
  color: #9b9faa;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation:hover {
  color: #212121;
}
a.active {
  color: #212121;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
}

/* user */
.userName {
  color: #212121;
  text-align: right;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  text-decoration: none;
}
.userExit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 50px;
}
.exit {
  color: #9b9faa;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
}

.divider {
  width: 2px;
  height: 30px;
  background-color: #9b9faa;
  margin: 0 20px;
}
.dividerOne {
  width: 2px;
  height: 30px;
  background-color: #9b9faa;
  margin: 50px 20px 0px 20px;
}
.HamburgerMenu{
  position: absolute;
  z-index: 1;
}
/* responsive */

@media (max-width: 768px) {
  .header {
    transform: translateY(0);
  }
  .nav,
  .dividerOne {
    display: none;
  }
  .userExit {
    transform: translateY(0%);
    transition: transform 0.5s ease;
    z-index: 1000;
    margin-right: 120px;
  }
  .container {
    margin-top: 0px;
    z-index: 10;
    transform: translateY(0);
    transition: transform 0.5s ease;
  }
  .container::after {
    /* content: ''; */
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    height: 2px;
    background-color: #e0e0e0;
    z-index: 5;
  }
}
