.backgroundContainer {
  background-image: url('../../images/Layer-9.png'),
    url('../../images/Layer-4\ 1.png'),
    url('../../images/Strawberry-Big-PNG.png'),
    url('../../images/Vector\ 3.png');
  background-size: 450px, contain, 280px, contain;
  background-position: 100% -8%, 80%, 100% 80%, 100% 90%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 160px;
}

@media screen and (max-width: 1279px) {
  .backgroundContainer {
    background-image: url('../../images/tablet-login-leaves.png'),
      url('../..//images/tablet-strawberry.png'),
      url('../../images/tablet-banana.png'), url('../../images/Vector\ 3.png');
    background-size: 600px, 300px, 400px, 400px;
    background-position: 90% -10%, 110% 55%, 105% 80%, 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
}

@media (max-width: 703px) {
  .backgroundContainer {
    background-image: none;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}
