.calculateForm {
    width: 608px;
    height: 343px;
    top: 293px;
    left: 16px;
    border: 1px;
    border-color: e0e0e0;
    margin-left: 20px;
   
}

.headingWrapper {
width: 608px;
height: 85px;
top: 293px;
left: 16px;


}

.heading {
    font: verdana;
    font-weight: 700px;
    size: 34px;
    line-height: 47.6px;
    color: #212121;
}

.inputStyle {
    width: 240px;
    height: 16px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: none; /* Remove default borders */
    outline: none; /* Remove outline on focus */
  }

  .lineStyle {
    width: 200px;
    height: 100px;
    border-bottom: 1px solid #e0e0e0; 
    margin-top: -10px; 
  }







.inputStyle::placeholder {
    font: verdana;
    font-weight: 700;
    size: 14px;
    line-height: 17.01px;
    letter-spacing: 4%;
    color: #9B9FAA;
   
    
}

.bloodType {
    font: verdana;
    font-weight: 700;
    size: 14px;
    line-height: 17.01px;
    letter-spacing: 4%;
    color: #9B9FAA;
}